[Unit]
Description=Minikube Cluster
After=podman.service

[Service]
Type=oneshot
ExecStart=/usr/bin/minikube start
RemainAfterExit=true
ExecStop=/usr/bin/minikube stop
StandardOutput=journal
User=minikube
Group=minikube

[Install]
WantedBy=multi-user.target